@mixin mq($points) {
  @if $points == size-xs{
    @media only screen and (max-width:735px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:735px) and (min-resolution:1.5dppx),only screen and (max-width:735px) and (min-resolution:144dpi)  { @content; }
  }
  @else if $points == size-sm{
    @media only screen and (max-width:735px)  { @content; }
  }
  @else if $points == size-md {
    @media only screen and (max-width:1068px) and (-webkit-min-device-pixel-ratio:1.5),only screen and (max-width:1068px) and (min-resolution:1.5dppx),only screen and (max-width:1068px) and (min-resolution:144dpi)  { @content; }
  }
  @else if $points == size-lg {
    @media only screen and (max-width:1068px)  { @content; }
  }
  @else if $points == size-xl {
    @media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi),only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min-resolution:1.5dppx) { @content; }
  }
  @else if $points == size-xxl {
    @media only screen and (min-width:1441px) { @content; }
  }
}


.hero-unit-moon-exploration {
  .hero-image {
    width: 100% !important;
    background-position: center;
  }
  .space {
    background-image:url(/images/final-frontier_large.jpg);

    @include mq(size-xs) {
      background-image:url(/images/final-frontier_small_2x.jpg)
    }
    @include mq(size-sm) {
      background-image:url(/images/final-frontier_small.jpg)
    }
    @include mq(size-md) {
      background-image:url(/images/final-frontier_medium.jpg)
    }
    @include mq(size-lg) {
      background-image:url(/images/final-frontier_medium_2x.jpg)
    }
    @include mq(size-xl) {
      background-image:url(/images/final-frontier_large.jpg)
    }
    @include mq(size-xxl) {
      background-image:url(/images/final-frontier_large_2x.jpg)
    }
  }
  .link {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
  }
  .col-12, .col-lg-6 {
    padding-right: 0;
    padding-left: 0;
  }
  .editable {
    width: 100%;
    height: auto;
  }
}

.grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(540px,1fr));
  // grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: column;
  // grid-template-columns: 540px 540px;
  // grid-template-rows: 300px;
  // grid-auto-flow: row;
  @include mq(size-md) {
    grid-template-columns: repeat(1, 1fr);
  }
  .span-one {
    grid-row-end: span 1;
    .timeline-item {
      // min-height: 700px;
    }
  }
  .span-two {
    grid-row-end: span 2;
    .timeline-item {
      // min-height: 950px;
    }
  }
  .span-three {
    grid-row-end: span 3;
    .timeline-item {
      // min-height: 1050px;
    }
  }
  .timeline-item {
    margin: 0;
    justify-content: inherit;
    &.timeline-3 {
      min-height: 980px;
      @include mq(size-xl) {
        min-height: auto;
      }
    }
    &.timeline-5 {
      min-height: 1020px;
      @include mq(size-xl) {
        min-height: auto;
      }
    }
  }
}
